.get-user-container {
  padding: 20px;
  width: 60%;
}

.refresh-button {
  margin-bottom: 20px;
  padding: 10px 20px;
}

.users-list {
  list-style: none;
  padding: 0;
  max-height: 400px;
  overflow-y: auto;
}

.user-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .user-item-content {
    display: flex;
    flex-direction: column;
  }
}

.remove-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
